*{
	margin:0;
	padding:0;
}
/*侧栏样式代码*/
#celan{
	width: 300px;
	background-color: #333;
	/*display: none;*/
	position: fixed;
	top: 0;
	right: -300px;
	bottom: 0;
	padding:20px 0;
	transition: right 0.5;
}	
#celan ul{
	list-style-type: none;
}
#celan ul a{
	padding:10px 30px;
	display: inline-block;
	text-decoration: none;
	color: #fff;

}
#celan ul a:hover{
	background-color: #444;
	width: 100%;
}
#mask{
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	opacity: 0.3;
	background-color:#000;
	display: none;
}
/*返回顶部代码*/
#back{
	position: fixed;
	bottom: 30px;
	right: 30px;
	border: 1px solid blue;
	background-color: black;
	color: white;
	width: 100px;
	height: 40px;
	line-height: 40px;
	font-size: 15px;
}
